<!-- Shows all blog posts -->
<body>
  <div class="header">
    <h1>Blog</h1>
  </div>
  <div class = "blogtable">
    <% @blogposts.reverse_each do |blog| %>
      <div class="blogpost">
        <h1><%= blog.title %></h1>
        <p>
          <%= blog.text.html_safe %>
        </p>
        <p>
          <% if current_user %>
            <%= link_to 'Edit', edit_blogpost_path(blog) %>
            <%= link_to 'Destroy', blogpost_path(blog), method: :delete,
              data: { confirm: 'Are you sure?' } %>
          <% end %>
        </p>
      </div>
    <% end %>
    <br />
    <div class="newpost">
      <% if current_user %>
        <button><%= link_to 'New Post', new_blogpost_path %></button>
      <% end %>
    </div>
  </div>
</body>
