<div class="topview">
  <h1>Editing Project</h1>
</div>

<div class="forms">
  <%= form_for :project, url: projects_path do |f| %>

    <% if @project.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@project.errors.count, "error") %>
        </h2>
        <ul>
          <% @project.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </p>

    <p>
      <%= f.label "Project URL" %><br>
      <%= f.text_field :url %>
    </p>

    <p>
      <%= f.submit %>
    </p>

  <% end %>

</div>

<div class="return">
  <%= link_to 'Return to Projects', projects_path %>
</div>
