<!-- Creates navbar for top of site -->
<div class = "navcontainter" style="padding-bottom: 10px;">
  <div class="nav">
    <ul>
      <li id = "leftlink">
        <a href="/">Home</a>
      </li>
      <li id ="leftlink">
        <%= link_to 'Projects', controller: 'pages', :action => :projects %>
      </li>
      <li id = "leftlink">
        <%= link_to 'Contact', controller: 'pages', :action => :contact %>
      </li>
      <li id = "leftlink">
        <%= link_to 'Blog', controller: 'blogposts', :action => :index %>
      </li>
      <% if current_user %>
        <li id="rightlink">
          <%= link_to 'Logout', controller: 'sessions', :action => :destroy %>
        </li>
      <% else %>
        <li id="rightlink">
          <%= link_to 'Admin Login', controller: 'sessions', action: 'new' %>
        </li>
      <% end %>
    </ul>

  </div>

</div>
