<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="xicon.png"/>
    <title>X Coan | <%= @page_title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <%= yield %>
    <% if current_user %>
      <p>Signed in as: <%= current_user.name %></p>
    <% end %>
  </body>
</html>
